<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title> profile Page  </title>
</head>
<body>

{% if name=="Reichert" %}
	<p> Name:Reichert</p>
	<p>Age: 29</p>
	<p> Country :Sweden</p>
	<p>Club:Arsenal</p>

{% elif name=="Abernathy" %}
	<p> Name:Abernathy</p>
	<p>Age: 28</p>
	<p> Country :Portugal</p>
	<p>Club:Napoli</p>

{% elif name=="Jacobson" %}
	<p> Name:Jacobson</p>
	<p>Age: 30</p>
	<p> Country :Ghana</p>
	<p>Club:Man City</p>

{% elif name=="Graham" %}
	<p> Name:Graham</p>
	<p>Age: 31</p>
	<p> Country :USA</p>
	<p>Club:Sevilla</p>
	
{% endif%}

</body>
</html>